*.a
*.bc
*.crate
*.d
*.dll
*.dylib
*.egg-info/
*.elf
*.exe
*.exe.stackdump
*.lib
*.ll
*.map
*.mex
*.mexw64
*.node
*.o
*.obj
*.pdb
*.pyd
*.rlib
*.rs.bk
*.rslib
*.so
.aider*
/.history/
/.idea/
/.rustc_info.json
/.vscode/
/Cargo.lock
/build/
/debug/
/dist/
/docs/
/logs/
/out/
/release/
/target/
/tmp/
